<div id="container text-center">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-dark bg-primary">
                <h1 style="margin-left:5%;">
                    <strong>IGN.com News Scrapper</strong>
                </h1>
                <br>
                <a href="/scrape">
                    <button style="margin-left: 10%;" class="btn btn-success" id="scrapper">
                        <strong>Scrape for Articles</strong>
                    </button>
                </a>
                <a href="/saved">
                    <button style="margin-left:2%;" type="button" class="btn btn-success">
                        <strong>Saved Articles</strong>
                    </button>
                </a>
                <br>
                <br>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="articles" id="Article" style="padding-right:2%; padding-top:2%; margin-left: 2%; margin-right:2%;">
                {{#each Article}}
                <hr>
                <button data-id={{this._id}} class="btn btn-success save-button" style="padding: 5px 10px; float:right">Save</button> 
                <h4>
                    <strong>{{this.headline}}</strong>
                </h4>
                <a href="{{this.link}}">{{this.link}}</a>
                <p>{{this.summary}}</p>
                <hr>
                {{/each}}
            </div>
        </div>
    </div>

</div>