<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <nav class="navbar navbar-dark bg-primary">
                <h1>Saved Articles</h1>


                <a href="/">
                    <button id="save-home-button" class="btn btn-success">
                        <strong>Home</strong>
                    </button>
                </a>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="articles" id="Article" style="padding-right:2%; padding-top:2%;">
                {{#each Article}}
                <hr>
                <button  data-id={{this._id}} class="btn btn-success notes-button" style="padding: 5px 10px; float:right;">
                    <strong> Add Notes</strong>
                </button>
                <button data-id={{this._id}} class="btn btn-danger delete-button" style="padding: 5px 10px; float:right">
                    <strong>Delete Article</strong>
                </button>
                <h4>
                    <strong>{{this.headline}}</strong>
                </h4>
                <a href="{{this.link}}">{{this.link}}</a>
                <p>{{this.summary}}</p>
                <hr>
                <div class="card">
                    <div class="card-body">
                        <h3>{{note}}</h3>
                        <h5 class="card-title">{{note}}</h5>
                        <p class="card-text">{{note}}</p>
                    </div>
                </div>
                <br>
                <br>
                <div id="notes-entry" class="col-md-5 notes-display"></div>
                 {{/each}}
            </div>
        </div>
    </div>

</div>